body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.left {
  width: 50%;
  height: 100%;
}

.right {
  width: 50%;
  height: 100%;
}

#cover {
  background-color: blueviolet;
}

#main {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro {
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
}

.title_wrapper {
  text-align: center;
  line-height: 30px;
}

.title {
  font-size: 52px;
}

.description {
  font-size: 28px;
  color: #8a93a5;
}

.icons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.icons i {
  font-size: 22px;
  margin-right: 18px;
}
